.input-padding{
    padding: 10px 0;
    /*border-radius: 5px;*/
    /*text-align: center;*/
    /*margin-bottom: 20px;*/
}

.form-group input{
    display: inline-block;
    margin-left: 20px;
}



.error-margin{
    padding: 10px 5px;
    margin: 5px;
    color: #fe2559;
    /*border: 2px solid white;*/
    /*background-color: salmon;*/
}

.bigger-text{
    font-size: 200%;
    padding: 10px 50px;
    margin-top: 20px;
}
.success-margin{
    padding: 10px 5px;
    margin: 5px;
    color: #28a745;
    /*border: 2px solid #f8f9fa;*/
    /*background-color: salmon;*/
}
.success{
    margin-top: 20px;
    /*background-color: #adb5bd;*/
    padding: 10px;
}
.success p{
    color: #062c33
}
.success h3{
    color: #28a745
}

.lg-custom li{
    text-align: left;
    border: none;
}

.pin_reset{
    margin-left: 20px;
}

.col-md-6 span{
    margin-bottom: 50px;
    color: #fed561;
    /*text-shadow: 1px 1px 0 black;*/
}

.intro-lead-in{
    font-style: normal !important;
    color: #fed136;
}

.ch{
    font-family: Montserrat,sans-serif !important;
    font-size: 200%;
}

.intro-heading{
    font-size: 15px !important;
}
.intro-heading p{
    color: #E6E8E6;
    text-shadow: 2px 2px black;
}

.list-group{
    text-align: left !important;
}

.col-md-6 form{
    margin-bottom: 100px;
    color: #000000;
}
.col-lg-8{
    margin-bottom: 20px;
}

.radio-custom label{
    margin-right: 10%;
    margin-left: 1%;
}
@media (max-width: 700px) {
    .bigger-text{
        font-size: inherit;
        padding: 0;
    }
    .ch{
        font-size: inherit;
    }
    .section-heading{
        font-size: 30px !important;
    }
    .list-group{
        font-size: 90%;
    }
    .radio-custom label{
        font-size: 80%;
        margin-right: 5%;
    }
}